@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        height: 100%;
        margin: 0;
        display: flex;
        font-family: Arial, sans-serif;
        flex-direction: column;
        color: white;
    }
    .login-container {
      background: white;
      padding: 20px;
      width: 300px;
      margin: auto;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    input[type="text"]{
      width: 100%;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    button {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      width: 100%;
      border: none;
      border-radius: 4px;
    }
    .error {
      color: red;
      margin-top: 10px;
    }
.subtitulo{
    font-family: "Protest Riot", sans-serif;
    font-size: larger;
}
.encontra-tu-libro{
    font-weight: bold;
}
.COPY{
    color:#27150b;
    background-color:#c79c48;
    padding: 10px 8px;
}
.Titulo-contenido {
    font-size: 60px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
    padding-top: 270px;  
    
}
.preview {
      max-width: 100%;
      height: 250px;
      border: 1px solid #ccc;
      border-radius: 5px;
      object-fit: contain;
    
}
/* Deja el icono sin caja */
/* .input-group-text {
  background: transparent;   /* quita color de fondo  
  border: none;              /* quita borde           
  padding-inline: .5rem;     /* (opcional) ajusta espacio lateral 
} 
*/

/* Evita que el borde izquierdo del input “salte” al estar junto al icono */
/* .input-group .form-control {
  border-left: none;
} */
